---
interface Props {
  frontImage: string;
  backTitle: string;
  backDescription: string;
}

const { frontImage, backTitle, backDescription } = Astro.props;
---

<div class="">
  <div class="flip-card w-auto md:w-[500px] h-[600px] perspective-1000">
    <div
      class="relative w-full max-w-full h-full flex flex-col flex-wrap justify-between flex-1 transition-transform duration-500 transform-style-3d flip-card-inner"
    >
      <!-- Front -->
      <div
        class="relative rounded-3xl bg-[#555555] w-full h-full backface-hidden"
      >
        <div class="w-full h-full rounded-3xl shadow-lg p-7 text-white">
          {backTitle}
        </div>
        <div class="absolute top-7 z-50">1</div>
      </div>
      <!-- Back -->
      <div
        class="absolute overflow-hidden w-full h-full bg-white rounded-2xl shadow-lg transform rotate-y-180 backface-hidden"
      >
        <div class="p-6">
          <h3 class="text-2xl font-bold text-gray-800 mb-4">{backTitle}</h3>
          <p class="text-gray-600 text-xl">{backDescription}</p>
        </div>
        <div
          class={`${frontImage} absolute bottom-0 rounded-2xl bg-cover bg-center h-3/5 w-full`}
        >
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
</style>
