---

---

<section class="py-28 bg-[#F0FAFF]">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div>
        <h4 class="text-[#C80D17] font-semibold mb-4">Quienes somos</h4>
        <h2 class="text-5xl font-bold mb-6 text-[#04334D]">Nuestra historia</h2>
        <p class="text-[#075073]">
          Desde septiembre de 2017, Argon Pharma ha iniciado con fuerza en el
          mercado farmacéutico, comenzando con la distribución de medicamentos y
          ofreciendo soluciones oncológicas a nivel nacional. Actualmente, nos
          encontramos en una nueva etapa de expansión, en la cual brindamos
          soluciones logísticas eficientes. Con certificaciones sanitarias y el
          respaldo del sistema SAP, optimizamos cada etapa de nuestras
          operaciones para garantizar un servicio de alta calidad...
        </p>
      </div>
      <div>
        <img src="/images/history.png" class="rounded-2xl" alt="" />
      </div>
    </div>
  </div>
</section>
