---

---

<section class="py-40 bg-[#FAFCFD] px-4 md:px-0">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div class="flex flex-col justify-center">
        <article class="">
          <!-- <h4 class="text-[#C80D17] text-lg md:text-2xl font-semibold mb-4">
            ¿Quénes somos?
          </h4> -->
          <h2
            class="uppercase text-2xl md:text-3xl lg:text-5xl font-bold mb-6 text-[#04334D]"
          >
            Nuestra historia
          </h2>
          <p
            class="text-[#075073] text-justify text-lg md:text-xl leading-relaxed"
          >
            Argon Pharma SAC inició operaciones en el año 2017 como una
            droguería especializada en comercializar productos oncológicos y
            biológicos, abasteciendo a los principales hospitales del Seguro
            Social, Ministerio de Salud y a entidades privadas.
            <br /><br />
            Desde nuestros inicios, nos hemos destacado por nuestro compromiso con
            la calidad y la eficiencia, lo que nos permitió rápidamente participar
            y ganar las principales licitaciones del Estado peruano, suministrando
            productos de alta calidad a instituciones de salud que confían en nuestra
            experiencia y profesionalismo.
            <br /><br />En el año 2020, implementamos el sistema SAP Business
            One, una herramienta de clase mundial que nos permite optimizar
            nuestras operaciones logísticas, garantizando trazabilidad,
            eficiencia y control en cada proceso.
            <br /><br />Actualmente, hemos inaugurado nuestra nueva línea de
            negocios: un moderno almacén de productos farmacéuticos, diseñado
            para brindar soluciones integrales de almacenamiento, distribución y
            transporte a las principales droguerías del país, cumpliendo con los
            más altos estándares de calidad y servicio.<br />
          </p>
        </article>
        <!-- <img
          src="/images/people.webp"
          class="object-cover rounded-2xl"
          alt="Nosotros Argon Pharma"
        /> -->
      </div>
      <div class="flex justify-end items-center w-full h-full">
        <img
          src="/images/about1.webp"
          alt="Nosotros Argon Pharma"
          class="object-cover rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
<section class="py-40 container mx-auto space-y-8">
  <div class="flex flex-col justify-center space-y-10">
    <h1
      class="uppercase text-2xl md:text-3xl lg:text-5xl text-center font-bold text-primary"
    >
      Nuestro equipo de profesionales
    </h1>
    <img
      src="/images/people.jpg"
      class="object-cover rounded-2xl"
      alt="Nosotros Argon Pharma"
    />
  </div>
</section>
