---
import FlipCard from "./FlipCard.astro";
const values = [
  {
    image: "integrity",
    backTitle: "Integridad",
    backDescription:
      "Actuamos con transparencia y honestidad en todas nuestras interacciones.",
  },
  {
    image: "professional",
    backTitle: "Profesionalismo",
    backDescription:
      "Mantenemos altos estándares en el servicio al cliente y la calidad de nuestros servicios.",
  },
  {
    image: "perseverance",
    backTitle: "Perseverancia",
    backDescription:
      "Nos esforzamos continuamente por mejorar y superar los desafíos.",
  },
  {
    image: "proactivity",
    backTitle: "Proactividad",
    backDescription:
      "Anticipamos las necesidades de nuestros clientes y buscamos soluciones efectivas.",
  },
];
---

<section class="py-28 bg-[#F0FAFF] px-4 md:px-0">
  <div class="container mx-auto">
    <div class="space-y-16">
      <div>
        <h2
          class="text-2xl md:text-3xl lg:text-5xl font-bold mb-4 text-primary"
        >
          Nuestros valores
        </h2>
        <p class="text-paragraph text-lg md:text-xl leading-relaxed">
          Para ARGON PHARMA los valores son los pilares de la cultura
          organizacional y orientan su actuar y la toma de decisiones ante
          situaciones diversas.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
        {
          values.map((card) => (
            <FlipCard
              image={card.image}
              backTitle={card.backTitle}
              backDescription={card.backDescription}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
