---
import FlipCard from "./FlipCard.astro";
import { Icon } from "astro-icon/components";

const values = [
  {
    image: "integrity",
    backTitle: "Integridad",
    backDescription:
      "Actuamos con transparencia y honestidad en cada una de nuestras interacciones, garantizando relaciones de confianza y respeto con nuestros clientes y colaboradores.",
  },
  {
    image: "professional",
    backTitle: "Profesionalismo",
    backDescription:
      "Mantenemos altos estándares de calidad en cada servicio, asegurando la excelencia y satisfacción en cada etapa de la cadena logística.",
  },
  {
    image: "perseverance",
    backTitle: "Perseverancia",
    backDescription:
      "Nos esforzamos de manera constante por superar los desafíos, innovar y mejorar continuamente para alcanzar nuestros objetivos y los de nuestros clientes.",
  },
  {
    image: "proactivity",
    backTitle: "Proactividad",
    backDescription:
      "Anticipamos las necesidades de nuestros clientes y buscamos soluciones efectivas que optimicen sus operaciones y garanticen el éxito conjunto.",
  },
];
---

<section class="py-20 md:py-40 px-4 md:px-0 text-justify">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div
        class="bg-[url('/images/values.webp')] aspect-square bg-cover bg-center w-full lg:w-[550px] h-full bg-no-repeat mb-10 md:mb-0 rounded-xl"
      >
        <!-- <img src="/images/values-2.jpg" class="w-auto h-full rounded-2xl" /> -->
      </div>
      <div>
        <div class="mb-8 mt-10 lg:mt-0">
          <h2
            class="uppercase text-primary text-xl md:text-3xl lg:text-5xl font-bold mb-6"
          >
            Nuestros valores
          </h2>
          <p class="text-paragraph text-base md:text-xl leading-relaxed">
            Para ARGON PHARMA los valores son los pilares de la cultura
            organizacional y orientan su actuar a la toma de decisiones ante
            situaciones diversas.
          </p>
        </div>
        <div>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {
              values.map((item) => (
                <li class="  rounded-lg px-8 py-10  space-y-4 group border border-[#77d9ff] hover:shadow-xl bg-[#eff9ff]    hover:shadow-[#008dd0]/50 ease-in-out duration-500">
                  <span class="flex items-center justify-start text-xl font-semibold text-[#05324c] ease-in-out duration-500">
                    <span class="flex items-center justify-center rounded-full w-12 h-12 bg-[#04adef] mr-2">
                      <Icon
                        name={item.image}
                        class="  text-white rounded-full w-8 h-8"
                      />
                    </span>
                    {item.backTitle}
                  </span>
                  <span class="block  text-paragraph ease-in-out duration-500">
                    {item.backDescription}
                  </span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
