---
import Button from "../Button.astro";

const images = [
  {
    src: "./images/about1.webp",
    alt: "nosotros",
  },
  {
    src: "./images/transporte.webp",
    alt: "about",
  },
];
---

<section class="py-20 md:py-40 bg-[#eff9ff]/30">
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-20 px-4 md:px-0"
      data-gsap="about"
    >
      <div class="w-full h-full">
        <img
          src="/images/about.jpg"
          class="object-cover aspect-square w-full h-auto rounded-2xl"
          alt="Nosotros Argon Pharma SAC"
        />
      </div>
      <div class="flex flex-col justify-center space-y-6">
        <div class="text-justify">
          <!-- <h4 class="mb-2 text-subtitle text-lg md:text-2xl font-semibold">
            Nosotros
          </h4> -->
          <h2
            class="text-xl uppercase md:text-3xl lg:text-5xl text-primary font-bold mb-4"
          >
            Palabras de nuestro gerente
          </h2>
          <p class="text-paragraph text-base md:text-xl leading-relaxed">
            "Con más de 25 años de experiencia en el sector farmacéutico, he
            aprendido que el éxito se basa en 03 pilares el compromiso, la
            pasión y la perseverancia. Este año, hemos apertura una nueva línea
            de negocios para brindar servicios de almacenamiento y transporte a
            terceros construyendo un moderno almacén de productos farmacéuticos,
            diseñado para las droguerías del Perú que buscan los más altos
            estándares de calidad mundial para conservar sus productos." <br
            /><br />
            Te invitamos a cotizar con nosotros y ser parte de esta nueva etapa en
            la logística farmacéutica nacional.
          </p>
        </div>
        <div>
          <!-- <a
          href="/nosotros"
          class="py-2 px-4 text-xl text-white bg-[#0090D2] rounded-xl inline-block"
          >Conocenos más</a
        > -->
          <!-- <Button
            href="/nosotros"
            bg="#0090D2"
            hover="#00618C"
            color="white"
            text="Conócenos más"
          /> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    // GSAP Animations
    gsap.to(".nosotros", { scrollTrigger: ".nosotros", x: 500 });
  </script>
</section> -->
</section>
