---
const certifications = [
  {
    title: "bpa",
    description:
      "Nuestro sistema de calidad garantiza la conservación, eficacia y seguridad de nuestros productos durante su almacenamiento, cumpliendo con los más altos estándares. Contamos con certificaciones emitidas por la Dirección General de Medicamentos, Insumos y Drogas (DIGEMID), que incluyen la certificación de Buenas Prácticas de Almacenamiento (BPA).",
    imagen: "/images/bpa.png",
  },
  {
    title: "bpdt",
    description:
      "Nuestro sistema de distribución y transporte asegura que la calidad del producto se mantenga en cada etapa de la cadena de suministro. Contamos con una flota de vehículos certificada en Buenas Prácticas de Distribución y Transporte (BPDT), equipada para cumplir con las condiciones requeridas por la normativa sanitaria vigente.",
    imagen: "/images/bpdt.png",
  },
];
---

<section id="certificaciones" class="py-28 container mx-auto px-4">
  <div class="mb-6">
    <h2
      class="text-2xl md:text-3xl lg:text-5xl font-bold text-center text-[#04334D]"
    >
      Nuestras Certificaciones
    </h2>
  </div>
  <div class="mx-auto lg:w-2/3 space-y-8">
    {
      certifications.map((item) => (
        <div class="flex flex-col items-center lg:flex-row space-y-4 lg:space-y-0  space-x-0 lg:space-x-8 ">
          <p class="text-[#075073] text-base md:text-xl leading-relaxed">
            {item.description}
          </p>

          <img
            src={`${item.imagen}`}
            class=" h-32 w-32"
            width="150"
            height="150"
          />
        </div>
      ))
    }
  </div>
</section>
