---
const certifications = [
  {
    title: "Buenas prácticas de almacenamiento  ",
    description:
      "Contamos con certificaciones emitidas por la Dirección General de Medicamentos, Insumos y Drogas (DIGEMID), que incluyen la certificación de Buenas Prácticas de Almacenamiento (BPA).",
    imagen: "/images/bpa.webp",
  },
  {
    title: "Buenas prácticas de distribución y transporte ",
    description:
      "Contamos con una flota de vehículos certificada en Buenas Prácticas de Distribución y Transporte (BPDT), equipada para cumplir con las condiciones requeridas por la normativa sanitaria vigente.",
    imagen: "/images/bpdt.webp",
  },
];
---

<section id="certificaciones" class="py-28 bg-[#DEF3FF]">
  <div class="container mx-auto px-4" data-gsap="certifications">
    <h2
      class="text-2xl md:text-3xl lg:text-5xl font-bold text-center text-[#04334D]"
    >
      Nuestras Certificaciones
    </h2>

    <div class="space-y-8 mt-28 mx-auto max-w-6xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        {
          certifications.map((item) => (
            <div class="relative rounded-2xl shadow-[0_3px_35px_0px_rgba(4,51,77,0.14)] px-8 py-12 bg-slate-50  ">
              <div class="absolute right-0 left-0 -top-16  flex justify-center items-center  ">
                <img
                  src={`${item.imagen}`}
                  class=" h-32 w-32"
                  width="150"
                  height="150"
                />
              </div>
              <div class=" pt-16">
                <h2 class=" text-primary text-2xl font-bold mb-4">
                  {item.title}
                </h2>
                <p class="text-[#075073] text-base md:text-xl leading-relaxed">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
