---
const certifications = [
  {
    title: "Buenas prácticas de almacenamiento  ",
    description:
      "Nuestro almacén cuenta con la certificación de Buenas Prácticas de Almacenamiento (BPA), emitida por la Dirección General de Medicamentos, Insumos y Drogas (DIGEMID).",
    src: "/images/bpa.webp",
    alt: "BPA",
  },
  {
    title: "Buenas prácticas de distribución y transporte ",
    description:
      "Contamos con una flota de vehículos certificada en Buenas Prácticas de Distribución y Transporte (BPDT), equipada para cumplir con las condiciones requeridas por la normativa sanitaria vigente.",
    src: "/images/bpdt.webp",
    alt: "BPDT",
  },
];
---

<section id="certificaciones" class="py-20 md:py-40">
  <div class="container mx-auto px-4 text-justify" data-gsap="certifications">
    <h2
      class="uppercase text-xl md:text-3xl lg:text-5xl font-bold text-center text-title"
    >
      Nuestras Certificaciones
    </h2>

    <div class="space-y-8 mt-28 mx-auto max-w-6xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-32 md:gap-10">
        {
          certifications.map((item) => (
            <div class="relative rounded-2xl shadow-xl shadow-[#008dd0]/15 px-4 md:px-8 py-12 bg-[#eff9ff] border border-[#77d9ff]  ">
              <div class="absolute right-0 left-0 -top-20  flex justify-center items-center  ">
                <img
                  src={item.src}
                  alt={item.alt}
                  class=" h-44 w-44"
                  width="200"
                  height="200"
                />
              </div>
              <div class=" pt-16">
                <h2 class=" uppercase text-title text-base md:text-[22px] font-bold mb-4">
                  {item.title}
                </h2>
                <p class="text-paragraph text-base md:text-xl leading-relaxed">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
