---
import { object } from "astro:schema";
import { Icon } from "astro-icon/components";
import Button from "../Button.astro";
import ServiceSliderMovil from "./ServiceSliderMovil.astro";
import ServiceSliderPC from "./ServiceSliderPC.astro";

const images = [
  {
    src: "./images/almacen.webp",
    alt: "Almacenaje",
    title: "Almacenaje",
  },
  {
    src: "./images/embalaje.webp",
    alt: "Productos farmacéuticos",
    title: "Embalaje",
  },
  {
    src: "./images/transporte.webp",
    alt: "Transporte",
    title: "Transporte y distribución",
  },
];
---

<section class="py-40 bg-[#eff9ff]/30 px-4 md:px-0">
  <article
    class="grid grid-cols-1 lg:grid-cols-2 gap-20 container mx-auto"
    data-gsap="services"
  >
    <div class="space-y-10 h-full">
      <div>
        <h4 class="mb-2 text-subtitle text-xl font-semibold">
          ¿Qué ofrecemos?
        </h4>
        <h2
          class="text-2xl uppercase md:text-3xl lg:text-5xl text-primary font-bold mb-4"
        >
          Conectamos a la industria farmacéutica con el país
        </h2>
        <p
          class="text-paragraph text-justify text-lg md:text-xl leading-relaxed"
        >
          Garantizamos la integridad de tus medicamentos en nuestras
          instalaciones especializadas. Desde el ingreso hasta la salida,
          controlamos rigurosamente la temperatura, humedad y acceso, cumpliendo
          con las normativas más exigentes. Complementamos este servicio con un
          transporte seguro y una distribución puntual a tu cliente final.
        </p>
      </div>
      <!-- <Button
        href="/servicios"
        bg="#0090D2"
        hover="#00618C"
        color="white"
        text="Ver más"
      /> -->
    </div>

    <div class="block md:hidden">
      <ServiceSliderMovil />
    </div>
    <div class="hidden md:block">
      <ServiceSliderPC />
    </div>
  </article>
</section>
