---
const images = [
  {
    src: "./images/almacen.webp",
    alt: "Almacenaje",
    title: "Almacenaje",
  },
  {
    src: "./images/embalaje.webp",
    alt: "Productos farmacéuticos",
    title: "Recepción de mercadería",
  },
  {
    src: "./images/transporte.webp",
    alt: "Transporte",
    title: "Transporte y almacenamiento",
  },
];
---

<div class="sliders">
  {
    images.map((service) => (
      <div class="image-card group rounded-2xl">
        <img
          src={service.src}
          alt={service.alt}
          width="400"
          height="500"
          class="w-full h-full object-cover rounded-lg transition-all duration-500"
        />
        <div class="absolute bottom-0 translate-y-10  group-hover:translate-y-0 left-0 opacity-0 group-hover:opacity-100 transition duration-1000 ease-out text-white px-8 py-6 z-50">
          <h3 class=" text-xl">{service.title}</h3>
        </div>
        <div class="absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition duration-1000 ease-out text-white  w-full h-full  bg-gradient-to-b from-[rgba(0,0,0,0)] from-50% to-[rgb(19,22,28)] to-100% " />
      </div>
    ))
  }
</div>

<style>
  .sliders {
    display: flex;
    width: 100%;
    height: 500px;
    gap: 0;
    padding: 1rem;
  }
  .image-card {
    position: relative;
    flex: 1;
    min-width: 0;
    height: 500px;
    margin-right: 1rem;
    overflow: hidden;
    transition: flex 0.5s ease;
  }

  .image-card:hover {
    flex: 3;
    cursor: crosshair;
  }

  .image-card img {
    opacity: 0.8;
  }

  .image-card:hover img {
    opacity: 1;
    filter: contrast(120%);
  }
</style>
