---
const images = [
  {
    src: "./images/almacen.webp",
    alt: "Almacenaje",
    title: "Almacenaje",
  },
  {
    src: "./images/embalaje.webp",
    alt: "Productos farmaceuticos",
    title: "Embalaje",
  },
  {
    src: "./images/transporte.webp",
    alt: "Transporte",
    title: "Transporte y distribución",
  },
];
---

<div class="sliders">
  {
    images.map((service) => (
      <img
        src={`${service.src}`}
        alt={`${service.title}`}
        width="400px"
        height="500px"
        class=" w-[400px] h-[500px] object-cover mr-4 rounded-lg overflow-hidden"
      />
    ))
  }
</div>

<style>
  .sliders {
    display: flex;
    width: 100%;
    height: 500px;
  }
  .sliders img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  .sliders img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
</style>
