---
import { Icon } from "astro-icon/components";
---

<div
  id="videoModal"
  class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300"
>
  <div class="rounded-lg shadow-lg w-4/5 lg:w-2/5 relative">
    <button
      id="closeButton"
      class="absolute -top-10 -right-10 text-gray-500 hover:text-gray-800"
    >
      <Icon
        name="x"
        class="w-10 h-10 text-white bg-white/30 hover:bg-white/50 ease-in-out rounded-full"
      />
    </button>
    <div class="aspect-video">
      <iframe
        id="youtubeVideo"
        src=""
        class="w-full h-full"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
