---

---

<section class="container mx-auto border-t border-[#77d9ff]">
  <div class="px-4 lg:px-0 py-4 text-center text-[#0070a8]">
    © 2024 Argon Pharma SAC | Todos los derechos reservados.
  </div>
</section>
