---

---

<section class="mt-28 border-t border-[#3C4247]">
  <div class="px-4 lg:px-0 py-4 text-center text-white">
    Copyright © 2024 - Todos los derechos reservados | Powered by
    <a>Grover</a>
  </div>
</section>
