---
import Button from "./Button.astro";
---

<section class="py-20 md:py-40">
  <!-- <div class=" before:bg-[#1C2329] before:absolute before:top-0"></div> -->
  <!-- <div
    class="container mx-auto pb-28 border-b border-[#3C4247]"
    data-gsap="cta"
  > -->
  <!-- <div class="container mx-auto py-16 bg-[#1C2329] rounded-2xl" data-gsap="cta">
    <div class="text-left mx-auto w-5/6 lg:w-3/6 space-y-8">
      <h3 class="text-2xl md:text-4xl font-bold text-white">
        ¡Aprovecha nuestro primer mes de almacenamiento gratuito!
      </h3>
      <p class="text-xl text-[#B2BDC6]">
        Entrega sin esfuerzo con nuestras soluciones de transporte y
        distribución
      </p>
      <Button
        href="/contactos"
        bg="#DEF3FF"
        hover="#C80D17"
        color="black"
        text="Envianos un mensaje"
      />
    </div>
    <div>imagen</div>
  </div> -->

  <div class="mt-0">
    <div class="container mx-auto" data-gsap="cta">
      <div
        class="relative overflow-hidden bg-[#04ADEF]/80 px-6 pt-16 shadow-xl shadow-[#04ADEF]/30 sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
      >
        <!-- <svg
          viewBox="0 0 1024 1024"
          class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
          aria-hidden="true"
        >
          <circle
            cx="512"
            cy="512"
            r="512"
            fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
            fill-opacity="0.7"></circle>
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#5F1013"></stop>
              <stop offset="1" stop-color="#A2131B"></stop>
            </radialGradient>
          </defs>
        </svg> -->
        <div
          class="mx-auto max-w-lg text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
        >
          <h2
            class="uppercase text-xl font-semibold sm:leading-snug tracking-tight text-white md:text-4xl"
          >
            Beneficio exclusivo: Primer mes de almacenamiento gratuito
          </h2>
          <p
            class="mt-6 text-center md:text-justify text-base md:text-xl leading-8 text-white"
          >
            Seguridad y Confianza sin costo adicional
          </p>
          <div
            class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
          >
            <a
              href="https://api.whatsapp.com/send?phone=983392903"
              target="_blank"
              class="rounded-md bg-white px-3.5 py-2.5 text-base font-semibold text-gray-900 shadow-sm hover:bg-[#dff3ff] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
              >Contáctanos ahora</a
            >
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8 overlay">
          <img
            class="absolute left-0 top-0 w-[32rem] md:w-[47rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10 overflow-hidden"
            src="/images/cta.webp"
            alt="Aprovecha nuestro primer mes gratis"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .overlay {
    background-color: transparent;
    background-image: linear-gradient(90deg, #171717, transparent 68%),
      linear-gradient(transparent 31%, #171717);
  }
</style>
