---
import { Icon } from "astro-icon/components";
import Copyright from "./Copyright.astro";
---

<footer class="pt-32 bg-[#1C2329] px-4 md:px-0">
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 text-white"
    >
      <div class="space-y-4">
        <img src="/images/logo-argon.webp" alt="Logo Argon" />
        <img src="/images/SAP.webp" alt="SAP" />
        <img src="/images/exxis-cloud.webp" alt="exxis" />
      </div>
      <div>
        <span class="font-bold mb-4 block">Oficina</span>
        <ul class="text-[#B2BDC6] space-y-4">
          <li class="flex items-start">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="map" class="w-5 h-5" /></span
            >
            <span class="block"
              >Calle Cappa 161-165 Urb. Parque Internacional de la Industria y
              Comercio - Callao.
            </span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5" /></span
            >
            <span class="block">+51 983 392 903</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5" /></span
            >
            <span class="inline-block">+51 966 701 346</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5" /></span
            >
            <span class="block">+51 944 604 339</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5" /></span
            >
            <span class="block">(01) 701 5720</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="envelope" class="w-5 h-5" /></span
            >
            <span class="block">operaciones@argonsac.com</span>
          </li>
        </ul>
      </div>
      <div>
        <span class="font-bold mb-4 block">Enlaces rápidos</span>
        <ul class="text-[#B2BDC6] space-y-4">
          <li>
            <a
              href="/"
              class="hover:text-white transition duration-150 ease-in-out"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="/nosotros"
              class="hover:text-white transition duration-150 ease-in-out"
              >Nosotros</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:text-white transition duration-150 ease-in-out"
              >Servicios</a
            >
          </li>
          <li>
            <a
              href="/contactos"
              class="hover:text-white transition duration-150 ease-in-out"
              >Contactos</a
            >
          </li>
        </ul>
      </div>
      <div>
        <span class="font-bold mb-4 block">Redes sociales</span>
        <ul class="text-[#B2BDC6] flex flex-row gap-4">
          <li>
            <a
              href="https://www.facebook.com/argonsac/"
              target="_blank"
              aria-label="Red social facebook"
              ><Icon
                name="facebook"
                class="h-8 w-8 hover:text-white transition duration-150 ease-in-out"
              /></a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/argonpharma/"
              target="_blank"
              aria-label="Red social instagram"
              ><Icon
                name="instagram"
                class="h-8 w-8 hover:text-white transition duration-150 ease-in-out"
              /></a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/feed/"
              target="_blank"
              aria-label="Red social linkedin"
              ><Icon
                name="linkedin"
                class="h-8 w-8 hover:text-white transition duration-150 ease-in-out"
              /></a
            >
          </li>
        </ul>
      </div>
    </div>
    <Copyright />
  </div>
</footer>
