---
import { Icon } from "astro-icon/components";
import Copyright from "./Copyright.astro";
---

<footer
  class="pt-28 bg-[url('/images/footer-bg.webp')] bg-cover bg-center px-4 md:px-0"
>
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 text-white"
    >
      <div>
        <img src="/images/logo-argon.webp" />
      </div>
      <div>
        <h5 class="font-bold mb-4">Oficina</h5>
        <ul class="text-[#B2BDC6] space-y-4">
          <li>
            Calle Cappa 161-165 Urb. Parque Internacional de la Industria y
            Comercio. Callao – Callao
          </li>
          <li>+51 983 392 903</li>
          <li>+51 944 604 339</li>
          <li>+51 973 728 756</li>
          <li>+511 7018501</li>
          <li>operaciones@argonsac.com</li>
        </ul>
      </div>
      <div>
        <h5 class="font-bold mb-4">Enlaces rápidos</h5>
        <ul class="text-[#B2BDC6] space-y-4">
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="/contactos">Contactos</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold mb-4">Redes sociales</h4>
        <ul class="text-[#B2BDC6] flex flex-row gap-4">
          <li><Icon name="facebook" class="h-8 w-8" /></li>
          <li><Icon name="instagram" class="h-8 w-8" /></li>
          <li><Icon name="linkedin" class="h-8 w-8" /></li>
        </ul>
      </div>
    </div>
    <Copyright />
  </div>
</footer>
