---
interface Props {
  headers: {
    title: string;
    src: string;
  }[];
}
const { headers } = Astro.props;
---

<section
  class="w-full h-[250px] md:h-[415px] bg-top overflow-hidden relative top-0 content-center -z-10"
>
  <span class="bg-[#093248]/[.65] absolute w-full h-full top-0 left-0"></span>
  <div
    class="absolute top-1/2 left-1/2 right-0 -translate-x-1/2 -translate-y-1/2 text-center"
  >
    <div class="container mx-auto">
      <h1 class="text-3xl lg:text-5xl text-white font-bold font-exo">
        {headers[0].title}
      </h1>
    </div>
  </div>
  <!-- <div
    class="w-full h-full bg-cover bg-center -z-10 bg-[url('/images/staff.png')]"
  > -->
  <div class={`w-full h-full bg-cover bg-center -z-10 ${headers[0].src}`}></div>
</section>
