---
import { Icon } from "astro-icon/components";

const numbers = [
  {
    number: "983392903",
  },
];
---

<div class="fixed bottom-9 right-4 lg:right-10 animate-bounce">
  <div
    class="absolute bottom-14 right-16 border border-[#77d9ff] bg-[#eff9ff] py-2 px-4 rounded-lg"
  >
    <span class="text-red-700 text-base">¡Contáctanos Ahora!</span>
  </div>
  <a
    aria-label="whatsapp"
    href="https://api.whatsapp.com/send?phone=983392903"
    target="_blank"
    rel="noopener noreferrer"
    class=""
  >
    <Icon
      name="whatsapp"
      class="h-16 w-16 text-white bg-[#128C7E] rounded-full"
    />
    <!-- <span
      class="animate-ping absolute top-0 h-16 w-16 rounded-full bg-[#128C7E]/50"
    ></span> -->
  </a>
</div>
