---
import FormInput from "./FormInput.astro";
import { Icon } from "astro-icon/components";
---

<main class="py-40 mt-0 space-y-20 px-4 md:px-0">
  <section class="mx-auto container">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="space-y-4 mr-0 md:mr-20 lg:mr-40 mb-10 md:mb-0">
        <h1 class="text-primary text-5xl font-bold">Contactos</h1>
        <p class="text-lg text-paragraph">
          <b>¡Estamos aquí para ti!</b> Nuestro equipo de expertos te atenderá de
          forma personalizada y rápida, para resolver cualquier duda o inquietud
          que tengas.
        </p>
        <ul class="text-lg text-paragraph">
          <!-- <li class="block mb-4">Teléfonos</li> -->
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block">+51 983 392 903</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="inline-block">+51 966 701 346</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block">+51 944 604 339</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="phone" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block">(01) 701 5720</span>
          </li>
        </ul>
        <ul class="text-lg text-paragraph">
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="envelope" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block">operaciones@argonsac.com</span>
          </li>
        </ul>
        <ul class="text-lg text-paragraph">
          <li class="flex items-start">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="map" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block"
              >Calle Cappa 161-165 Urb. Parque Internacional de la Industria y
              Comercio - Callao.
            </span>
          </li>
        </ul>
        <ul class="text-lg text-paragraph">
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="clock" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block">Lunes a Viernes: 08:00 am a 6:00 pm</span>
          </li>
          <li class="flex items-center">
            <span class="block w-5 h-5 mr-4"
              ><Icon name="clock" class="w-5 h-5 text-[#C80D17]" /></span
            >
            <span class="block">Sábados: 09:00 am a 12:00 pm</span>
          </li>
        </ul>
      </div>

      <div class="w-full h-full mx-auto px-0 md:px-12">
        <form
          action="https://api.web3forms.com/submit"
          method="POST"
          class="space-y-6"
          id="contact-form"
        >
          <input
            type="hidden"
            name="access_key"
            value={import.meta.env.ASTRO_SITE}
          />
          <input
            type="hidden"
            name="subject"
            value="New Contact Form Submission"
          />
          <div class="grid grid-cols-2 gap-10">
            <FormInput name="name" placeholder="Tu Nombre" required />
            <FormInput
              name="phone"
              placeholder="Tu teléfono"
              type="tel"
              required
            />
          </div>
          <FormInput
            name="email"
            placeholder="Tu correo"
            type="email"
            required
          />

          <div class="mt-6">
            <!-- <label class="block text-sm font-medium text-gray-700">
              Mensaje
            </label> -->
            <textarea
              name="message"
              placeholder="Cuentanos más ..."
              required
              class="w-full px-3 py-2 border border-[#77d9ff] rounded-md focus:outline-none focus:ring-2 focus:ring-[#04adef]"
              rows="4"></textarea>
          </div>

          <!-- <MathCaptcha num1={num1} /> -->
          <div class="space-y-2">
            <label id="captchaLabel" class="text-paragraph"></label>
            <input
              type="text"
              id="captchaInput"
              placeholder="Resultado"
              class="px-3 py-2 ml-2 border rounded-md border-[#77d9ff] focus:outline-none focus:ring-2 focus:ring-[#04adef]"
              required
            />
            <div class="error" id="captchaError"></div>
          </div>
          <button
            type="submit"
            class="bg-[#0090D2] text-white py-2 px-4 rounded-md hover:bg-[#00618C] transition-colors"
          >
            Enviar mensaje
          </button>
        </form>

        <div id="result" class="mt-4 hidden"></div>
      </div>
    </div>
  </section>
  <section class="container mx-auto">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.889172445926!2d-77.09165501245441!3d-12.051145790406844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9406a974431%3A0x91f67a9f9b930a7a!2sARGON%20PHARMA%20SAC!5e0!3m2!1ses!2spe!4v1733405938232!5m2!1ses!2spe"
      width="100%"
      height="500"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</main>

<script>
  let num1: number;
  let num2: number;

  // Función para generar números aleatorios y actualizar el captcha
  function generateCaptcha() {
    num1 = Math.floor(Math.random() * 10);
    num2 = Math.floor(Math.random() * 10);

    (document.getElementById("captchaLabel") as HTMLElement).innerText =
      `¿Cuánto es ${num1} + ${num2}?`;
    (document.getElementById("captchaInput") as HTMLInputElement).value = ""; // Limpiar campo del captcha
    (document.getElementById("captchaError") as HTMLDivElement).innerText = ""; // Limpiar error previo
  }

  generateCaptcha();

  const form = document.getElementById("contact-form") as HTMLFormElement;
  const result = document.getElementById("result")!;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const captchaInput = document.getElementById(
      "captchaInput"
    ) as HTMLInputElement;
    const correctAnswer = num1 + num2;
    const captcha = (
      document.getElementById("captchaInput") as HTMLInputElement
    ).value.trim();

    const captchaAnswer = parseInt(captchaInput.value);

    if (captchaAnswer !== correctAnswer) {
      result.innerHTML = `<div class="p-3 bg-red-100 text-red-700 rounded-md">Captcha incorrecto!</div>`;
      result.classList.remove("hidden");
      generateCaptcha();
      return;
    }

    try {
      const response = await fetch(form.action, {
        method: "POST",
        body: formData,
      });

      const data = await response.json();

      if (data.success) {
        result.innerHTML = `<div class="p-3 bg-green-100 text-green-700 rounded-md">Message sent successfully!</div>`;
        generateCaptcha();
        form.reset();
      } else {
        result.innerHTML = `<div class="p-3 bg-red-100 text-red-700 rounded-md">Error de envió. Por favor vuelva a intentar.</div>`;
      }
    } catch (error) {
      result.innerHTML = `<div class="p-3 bg-red-100 text-red-700 rounded-md">Error de envió. Por favor vuelva a intentar.</div>`;
    }

    result.classList.remove("hidden");
    setTimeout(() => {
      result.classList.add("hidden");
    }, 3000);
  });
</script>
